
.cell{
    width: 100px;
    height: 100px;
    border: 2px solid lightgray;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    align-content: center;
    padding: 1px;
    border-radius: 10px;
    background-color: whitesmoke;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

.icon {
    height: 90px;
    width: 90px;
}

#gameContainer{
    text-align: center;
    border: 1px solid black;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
    background-color: rgb(255, 233, 206);
    font-family: Arial, Helvetica, sans-serif;
}

#restartBtn{
    border: none;
    width: 10%;
    color: white;
    background-color: rgb(163, 94, 94);
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
}

#restartBtn:hover {
    background-color: brown;
}

body {
    background-color: rgb(108, 133, 110);
}